input {
  box-sizing: border-box;
  padding: var(--space-small);
  width: 300px;
  height: 45px;
  margin: 0;
  background-color: var(--color-background);
  border-radius: var(--border-radius);
  border: none;
}

input::placeholder {
  color: var(--color-foreground);
}
