.task_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task_item .name {
  text-transform: uppercase;
}

.task_item .price {
  margin-right: var(--space-small);
  font-weight: bold;
}

.task_item .input_checkbox {
  margin-right: var(--space-small);
}

.task_item .spacer {
  flex-grow: 1;
}

.task_item.completed .name,
.task_item.completed .price {
  color: var(--color-foreground);
}

@media (min-width: 550px) {
  .task_item {
    max-width: 350px;
    margin: 0 auto;
  }
}
